@charset "UTF-8";

body{
background-color: #e7d690;
}
h1{
    text-align: center;
}

section{
    font: normal 16pt Arial;
    background-color: #fee275;
    width: 500px;
    padding: 15px;
    margin: auto;
}
#btn{
    font: bold 12pt Arial;
    border-radius: 8px;
    padding: 8px;
}
#altura{
    padding: 8px;
}
#peso{
    padding: 8px;
}